---
---

<div class="mb-[90px]">
 <h3 class="mb-[40px] text-[18px] font-medium">๐ฅ ะะพะฟัะปััะฝัะต</h3>
 <div class="flex flex-wrap gap-[20px]">
  <a
   href="https://12step.netlify.app/aa/Bill-W/etot-samyj-strah/"
   class="hover-up rounded-[20px] bg-white py-[15px] px-[18px]"
  >
   ๐ ะญัะพั ัะฐะผัะน ัััะฐั.
  </a>
  <a
   href="https://12step.netlify.app/aa/dzho-i-charli/11"
   class="hover-up rounded-[20px] bg-white py-[15px] px-[18px]"
  >
   ๐ ะะฑัะตัะตะฝะธั ะบะฐัะตััะฒ.
  </a>
  <a
   href="https://12step.netlify.app/aa/dzho-i-charli/19"
   class="hover-up rounded-[20px] bg-white py-[15px] px-[18px]"
  >
   ๐ ะะตัะฐะตั ะปะธ ะฟัะพะฑะปะตะผั - ะะปะบะพะณะพะปั?
  </a>
  <a
   href="https://12step.netlify.app/aa/dzho-i-charli/33"
   class="hover-up rounded-[20px] bg-white py-[15px] px-[18px]"
  >
   ๐ ะะพัะตะผั ะพะฝ ะฒะตะดะตั ัะตะฑั ัะฐะบ?
  </a>
 </div>
</div>
