---
import Layout from "@layouts/Layout.astro";
import ArticleCard from "../components/ArticleCard.astro";
import Banner from "../components/Banner.astro";
import PopularEjik from "../components/Popular-ejik.astro";
import "../css/global.css";

export interface Props {
 link: string;
 bg: string;
 name: string;
 community: string;
 type: string;
 count: string;
}
---

<Layout title="Материалы об 12 шагов" desc="Материалы, семинары и много полезного про 12 шагов и духовных принципов." poster="posters/poster.png">
 <div class="max-w-[880px] mx-auto px-[20px]">
  <Banner />

  <PopularEjik />

  <h3 class="mb-[40px] text-[18px] font-medium" id="ejiks">🚀 Материал для изучения</h3>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-[20px]">
   <ArticleCard
    link={"/aa/dzho-i-charli"}
    bg={"bg-[conic-gradient(at_left,_var(--tw-gradient-stops))] from-pink-500 via-red-500 to-yellow-500"}
    name={"Джо и Чарли - изучение БКАА"}
    community={"АА"}
    type={"Семинар"}
    count={"102"}
   />
   <ArticleCard
    link={"/aa/luchshie-stati-billa-w"}
    bg={"bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-rose-400 via-fuchsia-500 to-indigo-500"}
    name={"Лучшие статьи Билла У."}
    community={"АА"}
    type={"Статьи"}
    count={"6"}
   />
   <ArticleCard
    link={"/aa/molodezh-aa"}
    bg={"bg-[radial-gradient(ellipse_at_bottom_left,_var(--tw-gradient-stops))] from-yellow-300 via-green-300 to-green-500"}
    name={"Молодежь в АА"}
    community={"АА"}
    type={"Истории"}
    count={"12"}
   />
  </div>
 </div>
</Layout>
