---
import AllArticleCards from "@components/AllArticleCards.astro";
import Layout from "@layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import PopularEjik from "../components/Popular-ejik.astro";
import "../css/global.css";
---

<Layout
 title="Материалы об 12 шагов"
 desc="Материалы, семинары и много полезного про 12 шагов и духовных принципов."
 poster="posters/poster.png"
>
 <div class="max-w-[880px] mx-auto px-[20px]">
  <Banner />
  <PopularEjik />
  <AllArticleCards />
 </div>
</Layout>
