---
import Layout from '@layouts/Layout.astro'
---

<Layout>
  <div class="flex p-2 rounded-full bg-white">
    <a
      href="/"
      class="mr-0 lg:mr-3 py-1 px-3 font-medium text-md text-gray-700 rounded-lg lg:rounded-full last:mr-0"
    >
      🏠 Главная
    </a>
    <a
      href="/about"
      class="mr-0 lg:mr-3 py-1 px-3 font-medium text-md text-gray-700 rounded-lg lg:rounded-full last:mr-0"
    >
      👉 О нас
    </a>
    <a
      href="/groups"
      class="mr-0 lg:mr-3 py-1 px-3 font-medium text-md text-gray-700 rounded-lg lg:rounded-full last:mr-0"
    >
      👥 Собрания
    </a>
    <a
      href="/foryou"
      class="mr-0 lg:mr-3 py-1 px-3 font-medium text-md text-gray-700 rounded-lg lg:rounded-full last:mr-0"
    >
      🤗 Новичку
    </a>
    <a
      href="/contacts"
      class="mr-0 lg:mr-3 py-1 px-3 font-medium text-md text-gray-700 rounded-lg lg:rounded-full last:mr-0"
    >
      👤 Контакты
    </a>
    <a
      href="/reviews"
      class="mr-0 lg:mr-3 py-1 px-3 font-medium text-md text-gray-700 rounded-lg lg:rounded-full last:mr-0"
    >
      📄 Рецензия
    </a>
    <a
      href="/books"
      class="mr-0 lg:mr-3 py-1 px-3 font-medium text-md text-gray-700 rounded-lg lg:rounded-full last:mr-0"
    >
      📚 Литература
    </a>
    <a
      href="/history"
      class="mr-0 lg:mr-3 py-1 px-3 font-medium text-md text-gray-700 rounded-lg lg:rounded-full last:mr-0"
    >
      🎙 Личные истории
    </a>
  </div>
</Layout>
