---

---

<div
 class="p-[20px] md:p-[0] mb-[60px] md:mb-[90px] bg-gradient-to-b from-[#9DFFD6] to-[#7CF3C1] flex flex-col items-center justify-center h-[240px] md:h-[300px] rounded-[40px]"
>
 <h1 class="text-center leading-[110%] mb-[5px] text-[28px] md:text-[36px] lg:text-[42px] text-[#093322] font-medium">Материалы 12 шагов</h1>
 <p class="text-[#093322] mb-[20px] md:mb-[40px] text-[16px] text-center">Материалы с озвучкой, аудио и также ввиде текса. </p>
 <div title="Навигация">
  <a href="#ejiks" class="flex">
   <span
    class="f-h flex justify-center items-center w-[39px] h-[39px] p-[10px] text-[18px] bg-white rounded-[10px]"
    >📚</span
   >
   <span
    class="s-h leading-[18.9px] p-[10px] text-white font-medium bg-[#0A1738] rounded-[10px]"
    >Материал <span class="font-normal">(4)</span></span
   >
  </a>
</div>
</div>


<style>
 .f-h {
  transition: transform 0.2s linear;
 }
 .s-h {
  transition: background-color 0.2s linear, transform 0.2s linear;
 }
 a:hover .f-h {
  transform: translateY(-5px);
  transition: transform 0.2s linear;
 }
 a:hover .s-h {
  transform: translateY(5px);
  transition: background-color 0.2s linear, transform 0.2s linear;
  background-color: #0e2358;
 }
</style>
