---
---

<div
 class="mb-[90px] bg-gradient-to-r from-indigo-100 from-10% via-sky-100 via-30% to-emerald-200 to-90% flex flex-col items-center justify-center h-[300px] rounded-[40px]"
>
 <h1 class="text-center leading-[110%] mb-[5px] text-[36px] md:text-[42px] text-[#0D204D] font-medium">Материалы</h1>
 <p class="mb-[40px] text-[14px] px-[20px] text-center">Найдете много интересного и познавательного в 12-ти шаговом мире. </p>
 <div title="Навигация">
  <a href="#ejiks" class="flex">
   <span
    class="f-h flex justify-center items-center w-[39px] h-[39px] p-[10px] text-[18px] bg-white rounded-[10px]"
    >📚</span
   >
   <span
    class="s-h leading-[18.9px] p-[10px] text-white font-medium bg-[#0A1738] rounded-[10px]"
    >Материал <span class="font-normal">(3)</span></span
   >
  </a>
</div>
</div>

<style>
 .f-h {
  transition: transform 0.2s linear;
 }
 .s-h {
  transition: background-color 0.2s linear, transform 0.2s linear;
 }
 a:hover .f-h {
  transform: translateY(-5px);
  transition: transform 0.2s linear;
 }
 a:hover .s-h {
  transform: translateY(5px);
  transition: background-color 0.2s linear, transform 0.2s linear;
  background-color: #0e2358;
 }
</style>
