---
---

<div id="toUp">
 <svg
  width="26"
  height="48"
  viewBox="0 0 26 48"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
 >
  <path
   d="M13.2323 0.810969C13.1705 0.772252 13.0984 0.751118 13.0244 0.750043C12.9504 0.748968 12.8776 0.767998 12.8145 0.804902C8.59081 3.24605 3.7059 13.527 3.70416 21.6151C3.69804 23.0521 3.82348 24.487 4.07908 25.9033C2.65301 27.0403 1.4396 28.3797 0.80972 29.9062C-0.954179 34.2258 1.74672 38.5437 3.04762 40.2688C3.11832 40.3637 3.21118 40.4417 3.3189 40.4967C3.42662 40.5516 3.54626 40.582 3.66842 40.5855C3.79057 40.589 3.91191 40.5654 4.02288 40.5167C4.13386 40.468 4.23144 40.3954 4.30797 40.3047L8.80927 34.9568C9.19432 35.3165 9.59834 35.6573 10.0198 35.9779C10.3085 36.2043 10.6714 36.3273 11.0454 36.3255L14.9592 36.321C15.3331 36.3225 15.6959 36.1995 15.9848 35.9735C16.404 35.6547 16.8059 35.3159 17.1889 34.9584L21.6868 40.2975C21.7634 40.3881 21.861 40.4605 21.972 40.5092C22.0829 40.5578 22.2042 40.5813 22.3263 40.5778C22.4484 40.5743 22.568 40.544 22.6757 40.4891C22.7834 40.4343 22.8763 40.3564 22.9471 40.2616C24.2515 38.5454 26.9588 34.2214 25.1868 29.9095C24.5569 28.383 23.3527 27.0469 21.9365 25.9126C22.1942 24.4943 22.3216 23.0573 22.3172 21.6179C22.3387 13.5232 17.612 3.4248 13.2323 0.810969ZM13.0064 20.8499C12.2283 20.8502 11.4676 20.6307 10.8205 20.2193C10.1734 19.8079 9.66906 19.2231 9.37118 18.5387C9.0733 17.8544 8.99529 17.1013 9.14703 16.3748C9.29876 15.6482 9.67342 14.9808 10.2236 14.457C10.7738 13.9332 11.4748 13.5765 12.238 13.4321C13.0011 13.2876 13.7921 13.3619 14.511 13.6455C15.2298 13.9291 15.8441 14.4092 16.2762 15.0253C16.7084 15.6413 16.9389 16.3655 16.9386 17.1063C16.939 17.598 16.8375 18.085 16.64 18.5393C16.4426 18.9937 16.1529 19.4065 15.7877 19.7542C15.4225 20.1019 14.9889 20.3777 14.5116 20.5657C14.0343 20.7537 13.5228 20.8503 13.0064 20.8499Z"
   fill="#3C82F6"></path>
  <path
   d="M16.2413 37.7957C16.2419 38.4009 15.8565 39.0039 15.3495 39.6885C14.2068 41.2233 11.8003 41.2481 10.6552 39.6868C10.2218 39.0943 9.76111 38.124 9.76111 37.7929C9.76184 37.7213 9.73884 37.6512 9.69538 37.5927C9.65192 37.5342 9.5902 37.4903 9.519 37.4671C9.44779 37.4439 9.37071 37.4426 9.29871 37.4635C9.22671 37.4843 9.16344 37.5263 9.1179 37.5833C8.44189 38.4063 8.07452 39.421 8.07428 40.4658C8.07544 43.0609 13.0061 48 13.0061 48C13.0061 48 17.9397 43.0581 17.9386 40.463C17.9405 39.4171 17.5724 38.4009 16.8938 37.5783C16.673 37.3273 16.2338 37.4708 16.2413 37.7957Z"
   fill="#7EACF8"></path>
 </svg>
</div>
<style>
 div {
  z-index: 100;
  cursor: pointer;
  position: fixed;
  top: 85%;
  right: 2.6%;
  opacity: 0;
  transition: opacity 0.2s linear, display 0.2s linear;
 }
</style>
<script>
 const backToTopButton = document.getElementById("toUp");

 window.addEventListener("scroll", function () {
  if (window.pageYOffset > 500) {
   backToTopButton.style.opacity = "1";
  } else {
   backToTopButton.style.opacity = "0";
  }
 });

 backToTopButton.addEventListener("click", function () {
  window.scrollTo({ top: 0, behavior: "smooth" });
 });
</script>
