@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

:root {
 --color: #040212;
 --color-dark: #f1f1f1;
 --body-size-font: 16px;
 --body-size-weight: 400;
 --body-bg: #f7f7f7;
 --body-bg-dark: linear-gradient(175deg, rgba(15, 23, 42, 1) 0%, #071d2d);
 --main-font: "Rubik";
}

*,
*:after,
*:before {
 padding: 0;
 margin: 0;
 border: 0;
 box-sizing: border-box;
}

a {
 text-decoration: none;
 user-select: none;
}

ul:where(body),
ol:where(body),
li:where(body) {
 list-style: none;
}

img {
 vertical-align: top;
}

p {
 hyphens: auto;
}
u {
 text-decoration-skip: auto;
}

q {
 quotes: "«" "»";
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: inherit;
 font-size: inherit;
}

/* TODO DARK THEME */
html.dark,
body.dark {
 background: var(--body-bg-dark);
 color: var(--color-dark);
}

html,
body {
 min-width: 320px;
 font-family: var(--main-font), sans-serif;
 color: var(--color);
 font-size: var(--body-size-font);
 font-weight: var(--body-size-weight);
 background-color: var(--body-bg);
 scroll-behavior: smooth;
}

._content {
 margin-top: 40px;
 padding-right: 20px;
 padding-left: 20px;
 max-width: 980px;
 margin-left: auto;
 margin-right: auto;
}

._content-flex {
 display: flex;
}

@media (max-width: 576px) {
 ._content {
  margin-top: 0px;
  padding-left: 0;
  padding-right: 0;
 }
 ._content p {
  font-size: 17px;
 }
 ._content h1 {
  font-size: 26px;
 }
 ._content h2 {
  font-size: 20px;
 }
}

._content ol,
._content ul {
 list-style-type: disc;
 margin-left: 15px;
 margin-bottom: 16px;
}

/*TODO FONT-SIZE - 18PX*/
._content p,
._content ol li,
._content ul li {
 font-size: 18px;
 font-weight: 400;
}

/*TODO MARGIN-BOTTOM - 12PX*/
._content h1,
._content h2,
._content ol li,
._content ul li {
 margin-bottom: 12px;
}

/*TODO MARGIN-BOTTOM - 20PX*/
._content p,
._content img,
._content h4 {
 margin-bottom: 20px;
}

._content h1 {
 font-size: 32px;
 font-weight: 700;
 color: #090642;
 line-height: 110%;
}

._content h2 {
 font-size: 22px;
 font-weight: 500;
 color: #434b57;
 line-height: 120%;
}

._content h4 {
 font-size: 18px;
 font-weight: 700;
 color: #0079ff;
 line-height: 120%;
 position: relative;
 padding-left: 10px;
}
._content h4:before {
 content: "";
 width: 4px;
 height: 100%;
 border-radius: 4px;
 background-color: #0079ff;
 position: absolute;
 top: 0;
 left: 0;
}

._content p {
 line-height: 160%;
}

blockquote {
 border-left: 6px solid #bfe2ff;
 font-size: 16px;
 font-style: italic;
 margin: 16px;
 padding: 16px 24px;
 position: relative;
}
blockquote:before {
 content: "";
 position: absolute;
 top: 50%;
 left: -6px;
 height: 40px;
 background-color: var(--body-bg);
 width: 6px;
 margin-top: -1em;
}
blockquote:after {
 content: "”";
 position: absolute;
 top: 50%;
 left: -20px;
 color: #337ab7;
 font-size: 50px;
 font-family: Times, sans-serif;
 font-weight: bold;
 line-height: 30px;
}
blockquote cite {
 font-style: normal;
 color: #3c82f6;
 font-size: 15px;
 padding-top: 10px;
 display: block;
 text-align: right;
}

/* TODO REACT COMPONETNS */

.hover-up {
 transition: transform 0.2s linear;
}
.hover-up:hover {
 transform: translateY(-5px);
 transition: transform 0.2s linear;
}

.hover-left {
 transition: transform 0.2s linear;
}
.hover-left:hover {
 transform: translatex(-5px);
 transition: transform 0.2s linear;
}

.box-next {
 padding: 2em;
 z-index: 2;
 position: relative;
 border-radius: 0.5em;
 transition: background-color 0.2s ease;
 border: 1px solid #fafafa;
 box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 2px 4px rgb(0 0 0 / 5%),
  0 12px 24px rgb(0 0 0 / 5%);
}
.box-next:hover {
 background-color: #fff;
 transition: background-color 0.2s ease;
}
.box-next p {
 transition: transform 0.2s ease;
}
.box-next:hover p {
 transform: translateY(-3px);
 transition: transform 0.2s ease;
}
.box-next h2 {
 transition: transform 0.2s ease;
}
.box-next:hover h2 {
 transform: translateX(3px);
 transition: transform 0.2s ease;
}

/* @media (prefers-color-scheme: dark) {
 .box-next {
  background-color: #050a1c;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 2px 4px rgba(0, 0, 0, 0.05),
   0 12px 24px rgb(0 0 0 / 5%);
 }
 .box-next:hover {
  background-color: #060f33;
 }
._content h1 {
 color: #f2f2f2;
}

._content h2 {

 color: #f5f5f5;

}
 ._content h4 {
  color: #91c5ff;
 }
 ._content h4:before {
  background-color: #91c5ff;
 }
} */
