---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Nav from "@components/Nav.astro";
import ToUp from "@components/ToUp.astro";
import "@css/global.css";

const { title, desc, poster } = Astro.props;
---

<html lang="ru">
 <head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7KY5PK5KRS"></script>
<script async>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7KY5PK5KRS');
</script>
  <BaseHead title={title} desc={desc} poster={poster} />
 </head>

 <body>
  <ToUp />
  <Header />
  {Astro.url.pathname === "/" ? null : <Nav />}
  <slot />
  <Footer />
 </body>
</html>
