---
import BaseHead from "@components/Main/BaseHead.astro";
import Footer from "@components/Main/Footer.astro";
import Header from "@components/Main/Header.astro";
import Nav from "@components/Main/Nav.astro";
import ToUp from "@components/ToUp.astro";
import "@css/global.css";

const { title, desc, poster } = Astro.props;
---

<html lang="ru">
 <head>
  <script is:inline async type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-7KY5PK5KRS"
  ></script>
  <script is:inline async type="text/partytown">
   window.dataLayer = window.dataLayer || [];
   function gtag() {
    dataLayer.push(arguments);
   }
   gtag("js", new Date());

   // Отправка события pageview при первой загрузке страницы.
   gtag("event", "page_view");

   window.addEventListener("pageshow", (event) => {
    if (event.persisted === true) {
     // Отправка еще одного события pageview при восстановлении страницы из bfcache.
     gtag("event", "page_view");
    }
   });

   gtag("config", "G-7KY5PK5KRS");
  </script>

  <script is:inline type="text/partytown" async>
   (function (m, e, t, r, i, k, a) {
    m[i] =
     m[i] ||
     function () {
      (m[i].a = m[i].a || []).push(arguments);
     };
    m[i].l = 1 * new Date();
    for (var j = 0; j < document.scripts.length; j++) {
     if (document.scripts[j].src === r) {
      return;
     }
    }
    (k = e.createElement(t)),
     (a = e.getElementsByTagName(t)[0]),
     (k.async = 1),
     (k.src = r),
     a.parentNode.insertBefore(k, a);
   })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(93040664, "init", {
    clickmap: true,
    trackLinks: true,
    accurateTrackBounce: true,
    webvisor: true,
   });
  </script>
  <!-- <script >
   if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
    // если у пользователя установлена темная тема
    localStorage.setItem("theme", "light"); // сохраняем тему "light" в localStorage
   }

   if (localStorage.getItem("theme") === "light") {
    // если в localStorage сохранена тема "light"
    document.documentElement.setAttribute("data-theme", "light"); // устанавливаем светлую тему
   }
  </script> -->
  <BaseHead title={title} desc={desc} poster={poster} />
 </head>

 <body>
  <!-- <DarkTheme /> -->
  <ToUp />
  <Header />
  {Astro.url.pathname === "/" ? null : <Nav />}
  <slot />
  <Footer />
 </body>
</html>
